<h2>Create a new account</h2>

<%= form_for(@account) do |form| %>
  <% if @account.errors.any? %>
  <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :subdomain %>
    <%= form.text_field :subdomain %>
  </p>
  <%= form.fields_for :owner do |owner| %>
    <p>
      <%= owner.label :email %>
      <%= owner.text_field :email %>
    </p>
    <p>
      <%= owner.label :password %>
      <%= owner.password_field :password %>
    </p>
    <p>
      <%= owner.label :password_confirmation %>
      <%= owner.password_field :password_confirmation %>
    </p>
  <% end %>
  <%= form.submit "Next" %>
<% end %>